<img src="assets/img/sspi_sub_banner.jpg" class="w-100 img-fluid" />
<footer class="footer_wrapper">

    <div class="container py-4">
        <div class="row justify-content-center">

            <div class="col-md-4">
                <br /> <br /> <br />
                <div class="my-2 text-center ">
                    <h5 class="px-2">SSPI - footer credits will go here</h5>
                    <p class="text-center serif">text copy text copy text copy text copy </p>
                    <br /> <br /> <br />
                </div>
                <br />
                <!-- <p class="text-center my-4 text-muted">
                    <a href="#" class="">Back to top &uarr;</a>
                </p> -->
            </div>

        </div>


</footer>