{% include header_head.html %}
    <!-- custom bootstrap build -->
  <link rel="stylesheet" href="https://sspi-africa.com/assets/css/main.css">

<!-- note also see header_wp.php <?php wp_head(); ?>  -->
</head>
<!-- note *********************************************************  start content -->
<body id="{{ page.class }}">
      <!-- *** *** temp-home veil cover elseif  ********* Start ***-->
<!-- note IMPORTANT also see header_wp.php -->
  <!-- <header class="fixed-top sticky-top"> -->
    <!-- note include header_nav -->
    <!-- { % include header_nav.html % }
  </header> -->

  <!--note Important also see header_wp.php -->
    <!-- *** *** temp-home veil cover elseif   ********* end ***-->
