<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SSPI</title>
  <!-- bootstrap icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

  <script type="module" crossorigin src="./assets/map/map.js"></script>
  <link rel="stylesheet" crossorigin href="./assets/map/map.css">

  <!-- todo meta description and preview header content -->
  <!-- meta name title *** start ** -->
  <meta name="title" content="SSPI">
  <!-- meta name title *** end  ** -->

  <!-- todo meta description and preview header content -->
  <meta name="description" content="The 2023 Seed Sector Performance Index (SSPI) report provides an overview of the performance of national seed sectors in Africa." />
  <link rel="canonical" href="https://sspi-africa.com" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="sspi africa" />
  <meta property="og:description" content="The 2023 Seed Sector Performance Index (SSPI) report provides an overview of the performance of national seed sectors in Africa." />
  <meta property="og:url" content="https://sspi-africa.com" />
  <meta property="og:site_name" content="sspi africa" />
  <meta property="og:image" content="https://sspi-africa.com/assets/img/sspi_report_cover.jpg" />
  <!-- featured image pixels here -->
  <meta property="og:image:width" content="690" />
  <meta property="og:image:height" content="876" />
  <meta property="og:image:type" content="image/png" />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EFHNVMZN85"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-EFHNVMZN85');
  </script>

  