            <div class="modal fade" id="modal_002" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <!-- tip- Scrollable modal by adding classs modal-dialog-scrollable after modal-dialog and modal size add modal-sm modal-lg modal-xl" -->
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Indicator 2. Number of varieties released in the last three years (2020-2022)</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4">
                            <p>This indicator is a quantitative variable, capturing the total number of varieties registered or released in
                            the three years 2020-2022 for the four priority crops. Data for this indicator were sourced from the recent
                            national/regional variety catalogues. Where the catalogues were not available, the data were obtained from
                            the entity in charge of variety release in the country. Three approaches were considered for scoring this
                            indicator. First was a “distance to frontier” approach that assigns a score of 0 to countries with no variety
                            releases, and a score of 10 to the best performing country. However, on closer analysis of the data, this
                            approach was dropped because the top preforming country was too much of an outlier, with 286 varieties
                            released. Moreover, this approach is highly sensitive to the frontier score, which can vary significantly
                            across the years. The second approach considered was normalizing the indicator based on total land under
                            cultivation for each crop to calculate the number of varieties released per hectare. Again, this approach
                            did not seem to suit the data, given the wide variation of agro-ecologies among countries. For example,
                            some large countries with more uniform agro-ecologies require fewer varieties, while a small country
                            with diverse agro-ecologies may require significantly more varieties. The last approach considered was a
                            four-tier scoring system shown in Table 5, where a linear relationship is assumed between the number of
                            varieties released and the score within the ranges 1 to 50 and 50 to 100. We selected this approach as it
                            best captures the stages of seed sector growth over time.</p>
                        </div>
                        <div class="col-md-8">
                          <img src="https://wp.tasai.org/wp-content/uploads/Map_Ind2_microsite.jpg" class="img-fluid" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>