<div class="modal fade" id="modal_005" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <!-- tip- Scrollable modal by adding classs modal-dialog-scrollable after modal-dialog and modal size add modal-sm modal-lg modal-xl" -->
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> Indicator 5. Adequacy of Early Generation Seed</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p>This indicator tracks the level of satisfaction with the availability of EGS (sometimes referred to as basic
                seed). The ratings measure satisfaction with the availability of EGS to meet certified seed production
                needs based on (i) the quantity of the EGS supplied, (ii) the quality of the EGS, and (iii) the timeliness of
                delivery of the EGS. The indicator is scored as an expert opinion indicator. In many cases, seed companies/
                producers access EGS from their NARIs. However, there are also other sources of EGS, such as CGIAR
                centers, private sector companies, and universities, among others. Since the primary purpose of this
                indicator is to measure a country's domestic EGS production capacity, countries that rely (extensively) on
                external sources of EGS may not score higher than 5/10, even if they source sufficient quantities of EGS.
                This does not apply to NARIs that collaborate with private EGS suppliers. In countries that received a top
                score, its NARIs and other EGS providers produce adequate quantities of quality EGS and deliver it on
                time to all entities that require it. In countries that received a score of 6 to less than 8, the NARIs and other
                EGS providers supply EGS continuously, the EGS is of reasonably good quality, and is mostly delivered
                on time. However, from time to time, the EGS suppliers are not able to meet the needs for EGS, causing
                bottlenecks in the system. In countries that received a score of 4 to less than 6, the NARIs and other
                EGS providers supply EGS continuously; however, the quantities produced barely meet certified seed
                production needs, the quality of the EGS is fair, and the delivery is frequently delayed. In countries that
                scored 2 to less than 4, the NARIs and other EGS providers supply limited quantities of EGS, often of poor
                quality, and delivery is often delayed. In countries that scored 0 to less than 2, the EGS supplied by the
                NARIs and other EGS providers is inadequate, of poor quality, and the delivery is hardly, if ever, on time.
                In countries where the NARIs do not produce EGS for the four priority crops, a score of 0 was assigned.
                However, some countries with weak breeding programs source EGS from NARIs in neighboring countries
                and/or from collaborating CGIAR centers and meet the demand for EGS through these channels. In such
                cases, countries scored higher than 0, recognizing the fact that, while local capacity to produce EGS is
                lacking, EGS is nevertheless available to seed producers in the country.</p>
            </div>
            <div class="col-md-8">
              <img src="https://wp.tasai.org/wp-content/uploads/Map_Ind5_microsite.jpg" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>