            <div class="modal fade" id="modal_009" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <!-- tip- Scrollable modal by adding classs modal-dialog-scrollable after modal-dialog and modal size add modal-sm modal-lg modal-xl" -->
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Indicator 9. Adequacy of agro-dealer networks</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4">                          
                          <p>  This indicator tracks the adequacy of the agro-dealer (or seed seller) network in a country. It only considers
                            seed that has passed through a formal system of quality assurance recognized in the country in question.
                            Initially, this indicator was to be based on a quantitative measure, computed as the ratio of the number
                            of agro-dealers to number of agricultural households. Initial computations based on this method did not
                            seem to reflect the adequacy of the agro-dealer network in the country, based on a priori information.
                            This is because of the wide variation in the size and distribution of agro-dealers across the countries. In
                            addition, 10 of the 47 countries were missing one or both of the data points needed for the calculation.
                            Given these limitations, we opted to base the scores on expert opinion on a scale of 0 to 10. For a score
                            between 8 and 10, a country should have a network of agro-dealers large enough to meet the needs
                            of the country; agro-dealers should also reach all farming areas of the country. For a score of 6 to less
                            than 8, the country typically has a relatively large network of agro-dealers, but most are located in urban
                            areas. For a score of 4 to less than 6, the country usually has a reasonable network of agro-dealers, but
                            the vast majority of agro-dealers are based in urban areas. Countries with a score of 2 to less than 4 have
                            a poor network of agro-dealers, with most of them based in urban areas. For a score of 0 to less than 2,
                            the country has a very poor network of agro-dealers, who are all in urban areas. Countries that have no
                            agro-dealers score 0. Although the indicator is scored based on opinion, where available, we provide the
                            number of agro-dealers in the results.</p>
                        </div>
                        <div class="col-md-8">
                          <img src="https://wp.tasai.org/wp-content/uploads/Map_Ind9_microsite.jpg" class="img-fluid" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>