            <div class="modal fade" id="modal_003" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <!-- tip- Scrollable modal by adding classs modal-dialog-scrollable after modal-dialog and modal size add modal-sm modal-lg modal-xl" -->
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Indicator 3. Adequacy of the national agricultural research institutes' breeding programs</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4">
                          <p>  Responses to this indicator are based on expert opinion ratings on three aspects of national breeding
                            programs for each of the priority crops: (i) adequacy of the number of breeders, (ii) adequacy of funding
                            for breeding programs, and (iii) adequacy of basic research infrastructure, which enhances the ability of
                            active breeders in public institutions6 to develop new varieties. The country score is the average of the
                            twelve scores (three scores for each of the four crops). For a top score, a country should have national
                            breeding programs with an adequate number of breeders for all priority crops, have adequate funding
                            for breeding and variety development, and have adequate research facilities for breeding and variety
                            development across all four priority crops. For countries with a score of 6 to less than 8, national breeding
                            programs will typically have multiple, but overall, insufficient, breeders, as well as insufficient funding and
                            basic breeding infrastructure. For a score of 4 to less than 6, the NARI's breeding programs lack breeders
                            for some of the four priority crops, coupled with insufficient funding and a basic breeding infrastructure that
                            needs rehabilitation or replacement. For countries scoring 2 to less than 4, NARI breeding programs have
                            few breeders, funding that is not continuously available, and limited breeding infrastructure. For a score
                            of 0 to less than 2, NARIs do not have breeding programs for all of their priority crops, have insufficient
                            funding or no funding, and lack basic breeding infrastructure. A country with no breeding programs for
                            any of the four priority crops scores 0.
                          </p>
                        </div>
                        <div class="col-md-8">
                          <img src="https://wp.tasai.org/wp-content/uploads/Map_Ind1_microsite.jpg" class="img-fluid" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>