            <div class="modal fade" id="modal_010" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <!-- tip- Scrollable modal by adding classs modal-dialog-scrollable after modal-dialog and modal size add modal-sm modal-lg modal-xl" -->
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Indicator 10: Availability of seed in small packages</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4">                          
                          <p>The indicator assesses the percentage of seed sold in packages of 2 kg or less. The data point is the total
                            volume of seed (for the seed-propagated crops) sold in small packages, expressed as a percentage of
                            the total volume of seed produced (for the four crops). The percentage of seed sold in packages of 2 kg
                            or less is then multiplied by 10 to generate a final score out of 10. Note that the volume of seed produced
                            is used as a proxy for seed sales, and that vegetatively propagated crops such as potato, banana, and
                            cassava are excluded from this calculation as they are not sold to farmers in small packages.</p>
                            <p>There are several limitations to this method:
                              • The 2 kg upper limit for a small package is not always appropriate. The 2 kg limit does not apply
                              to all crops or to all countries. For example, in Egypt, the government has set 5 kg as the smallest
                              package size as this fits the area of the average landholding for a smallholder Egyptian farmer. In addition, 2 kg may be little for some, but not all crops, depending on the seeding rate. The seeding
                              rate varies widely depending on the crop in question, from 20 kg/ha for maize, to 200 kg/ha for
                              wheat, implying that 2 kg of seed may not be appropriate to all smallholder farmers.
                              • Data is mostly based on estimates. For countries where TASAI studies have not been conducted
                              and this information has not been collected from seed producers, the responses are based on
                              informed estimates from the national seed authorities.
                              • The exclusion of vegetatively propagated crops from the calculation affects 10 countries, as their
                              scores are not based on all four crops. Five of these countries selected two vegetatively propagated
                              crops as priority crops.
                              Despite the above limitations, this yardstick measure is still useful for many cases across Africa where
                              smallholder farmers are the main producers of cereal and legume crops. For a country to have a top score,
                              all the seed for the focus crops should be sold in packages of 2 kg or less. A country where none of the
                              seed for the priority crops is sold in small packages of 2 kg or less scores 0.</p>
                        </div>
                        <div class="col-md-8">
                          <img src="https://wp.tasai.org/wp-content/uploads/Map_Ind10_microsite.jpg" class="img-fluid" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>