<div class="modal fade" id="modal_012" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <!-- tip- Scrollable modal by adding classs modal-dialog-scrollable after modal-dialog and modal size add modal-sm modal-lg modal-xl" -->
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Indicator 12. Status of alignment of national seed policy instruments with harmonized regional seed regulations</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p>The regional economic communities that have regional seed regulations are the Common Market for
                Eastern and Southern Africa (COMESA), the Economic Community of Central African States (ECCAS),
                the Economic Community for West African States (ECOWAS)11, and the Southern African Development
                Community (SADC)12. Seed industry experts' ratings are strictly informed by the status of alignment, since
                the specifics of the process vary by REC. For example, in the ECOWAS region, a country with a top score
                would have either adopted the ECOWAS Seed Regulations as their national seed regulations or the country
                would have passed ministerial orders in response to the various clauses in the ECOWAS Seed Regulations
                (ECOWAS 2008). Ministerial orders might deal with setting up a national seed fund, establishing a national
                seed committee, decreeing the process for seed importation and exportation or for the registration of seed
                producers, among other areas. In the COMESA region, a country with a top score would have aligned its
                national regulations with the COMESA Seed Trade Harmonization Regulations in three key areas - the
                COMESA certification system, variety release system, and the Quarantine and Phytosanitary measures
                (COMESA 2014). In the SADC region, a country should have signed the Memorandum of Understanding
                adopting the guidelines of the SADC Harmonized Seed Regulatory System (HSRS).
              </p>
              <p>
                For a top score, harmonization is complete and is being implemented. For a score of 6 to less than 8,
                harmonization is complete, but the instruments are yet to be adopted. For a score of 4 to less than 6
                harmonization is ongoing. For a score of 2 to less than 4, harmonization has been initiated and some
                steps have been taken. For a score of 0 to less than 2, harmonization has just started. A country that has
                not harmonized its national seed policy instruments scores 0.
              </p>
            </div>
            <div class="col-md-8">
              <img src="https://wp.tasai.org/wp-content/uploads/Map_Ind1_microsite.jpg" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>