:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.body_map_demo {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.t-c-container {
  width: 859px;
  margin-right: auto;
  margin-left: auto;
}

.t-c-title {
  font-size: 26px;
  margin: 20px 0 10px 0;
  font-weight: 500;
  line-height: 1.1;
}

.t-c-map-container {
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  position: relative;
}

.t-c-map {
  width: 840px;
  height: 700px;
}

@media (max-width: 900px) {
  .t-c-map {
    width: 100%;
  }
}

.t-c-map-filter__label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 500;
}

.t-c-map-filter__input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.t-c-scale-container {
  position: relative;
  bottom: 0;
  left: 0;
  flex-direction: row;
  column-gap: 3px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@media (min-width: 900px) {
  .t-c-scale-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    row-gap: 3px;
    position: absolute;
    bottom: 110px;
    left: 111px;
    pointer-events: none;
  }
}

.t-c-scale {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
}

@media (min-width: 900px) {
  .t-c-scale {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
  }
}

.t-c-scale-color {
  font-size: 10px;
  width: 100%;
  padding: 2px 0;
  height: 18px;
  line-height: 18px;
}

@media (min-width: 900px) {
  .t-c-scale-color {
    font-weight: 500;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    box-sizing: content-box;
    padding: 5px 8px;
    width: 60px;
  }
}

.t-c-scale-label {
  font-size: 8px;
  line-height: 12px;
}

@media (min-width: 900px) {
  .t-c-scale-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

.lm-c-tooltip {
  position: absolute;
  visibility: hidden;
  background-color: #fff;
  color: #000;
  z-index: 10;
  border-radius: 3px;
  padding: 5px 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.t-c-tooltip__label {
  padding: 0;
  display: block;
  margin: 0;
  font-size: 15px;
}

.t-c-tooltip__score {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.t-c-tooltip__more-details {
  display: block;
  font-size: 13px;
  margin-top: 10px;
}

.t-c-map__country-name {
  pointer-events: none;
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0;
}

.t-c-map__country-name--hoverable {
  cursor: pointer;
  pointer-events: auto;
}
